.row {
    display: flex;
    justify-content: space-between;
}

.edit-icon {
    cursor: pointer;
    pointer-events: auto;
}

pre {
    font: var(--tui-font-text-1);
    font-size: 10px;
}

.date  {
    display: flex;
    justify-content: end;
    span {
        font-size: 9px;
    }
}